global
    maxconn 100
    stats socket ipv4@127.0.0.1:9999 level admin
    stats socket /var/run/haproxy.sock mode 666 level admin
    stats timeout 2m

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen ReadOnly
    mode tcp
    bind 0.0.0.0:8002
    option httpchk
    http-check expect status 206
    default-server observe layer7  error-limit 10  inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg0 127.0.0.1:5001 check port 23267
    server pg1 127.0.0.1:5002 check port 23268
    server pg2 127.0.0.1:5003 check port 23269
    
listen ReadWrite
   mode tcp
   bind 0.0.0.0:8001
   option httpchk
   http-check expect status 203
   default-server observe layer7  error-limit 10  inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
   server pg0 127.0.0.1:5001 check port 23267
   server pg1 127.0.0.1:5002 check port 23268
   server pg2 127.0.0.1:5003 check port 23269
